$color: #4558BE;

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    text-align: center;
    padding: 0;
    color: #000;
    background-image: url('https://images.unsplash.com/photo-1636193535246-a07cd0aa6fcb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: 100;
    text-align: center;
}

a {
    text-decoration: none;
    color: $color;
}

article {
    width: 500px;
    margin-left: 60% !important;
    display: block;
    padding: 20px !important;
    background: white;
    margin: 0 auto;
    border-radius: 36px 0 36px 0;
    box-shadow: 6px 7px 16px 0px rgba(69,88,190,0.73);
    -webkit-box-shadow: 6px 7px 16px 0px rgba(69,88,190,0.73);
    -moz-box-shadow: 6px 7px 16px 0px rgba(69,88,190,0.73);
}

span {
    color: $color;
}

img {
    user-select: none;
    margin-bottom: 8px !important;
}

