th {
    cursor: default;
    user-select: none;
}

.no-arrow:before, 
.no-arrow:after {
    content: '' !important;
}

#arrow:after {
  content: '↑';
  font-weight: bold !important;
  cursor: pointer;
}

#sort th.asc:after {
  content: '↓';
}

#sort th.desc:after {
  content: '↑';
}
