.lightbox {
    height: 200px;
    width: 200px;
    float: left;
    margin: 10px;
}

.img-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(38, 40, 52, 0.9);
    text-align: center;
    display: none;
    z-index: 99;
    animation: 0.5s pop-in;
    -webkit-animation: 0.5s pop-in;
    -moz-animation: 0.5s pop-in;
    -ms-animation: pop-in 0.5s;
}

.img-popup img {
    position: absolute;
    top: 50%;
    max-width: 80%;
    max-height: 64vh;
    display: inline-block;
    transform: translate(-50%, -50%);
}

.close-lightbox {
    position: absolute;
    top: 180px;
    right: 20%;
    padding: 0 10px;
    color: #fff;
    font-size: 28px;
    z-index: 99;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.multimedia-times {
    color: #be1e1e;
}

#icon {
    animation: 2.35s ease-in infinite mymove;
}

@keyframes mymove {
    0%, 100% {
        color: #4558be;
    }
    50% {
        color: #fff;
    }
}

.lightboxfadeout {
    animation: 0.5s fadeout;
    -webkit-animation: 0.5s fadeout;
    -moz-animation: 0.5s fadeout;
    -ms-animation: fadeout 0.5s;
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes pop-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes pop-in {
    0% {
        opacity: 0;
        -moz-transform: scale(0.1);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}

@keyframes fadeout {
    100% {
        opacity: 0;
        transform: scale(0.1);
    }
    0% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes fadeout {
    100% {
        opacity: 0;
        -webkit-transform: scale(0.1);
    }
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes fadeout {
    100% {
        opacity: 0;
        -moz-transform: scale(0.1);
    }
    0% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}

.cover {
    border: 2px solid #4558be;
}