name: Poruka游눫

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Hvala Vam 코to ste prijavili problem! Rije코i캖emo ga 코to je br쬰 mogu캖e!"
        pr-message: "Hvala Vam 코to ste poslali pull request! Uskoro 캖emo ga razmotriti!"
